<!--htn5299,-->

<!--Your Forest password reset validation url is 2924.-->
<!--This code will be expired in 2 hours.-->

<!--Thanks.-->
<div>Hi {{name}},</div>
<div>{{code}} is your Desti security code</div>
<p>
  If you didn't try to sign up, don't worry. You can safely ignore this email.
</p>
<p>
  Thanks,
</p>
<p>
  Desti, Hieu T. Nguyen
</p>

